In [62]:
# Dependencies
import pandas as pd
import os
import pymysql
pymysql.install_as_MySQLdb()
import numpy as np
import matplotlib.pyplot as plt

from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [63]:
# Open and read 'clean_him.csv' file
csvpath_measurements = os.path.join('clean_him.csv')
clean_him = pd.read_csv(csvpath_measurements)
clean_him = pd.DataFrame(clean_him)

clean_him_df = clean_him.rename(columns={'Unnamed: 0': 'id'})
clean_him_df.head()

   id      station        date  prcp  tobs
0   0  USC00519397  2010-01-01  0.08    65
1   1  USC00519397  2010-01-02  0.00    63
2   2  USC00519397  2010-01-03  0.00    74
3   3  USC00519397  2010-01-04  0.00    76
4   5  USC00519397  2010-01-07  0.06    70

In [64]:
# Open and read 'clean_hs.csv' file
csvpath_stations = os.path.join('clean_hs.csv')
clean_hs = pd.read_csv(csvpath_stations)
clean_hs = pd.DataFrame(clean_hs)

clean_hs_df = clean_hs.rename(columns={'Unnamed: 0': 'id'})
clean_hs_df

,id,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [65]:
# STEP 2 - DATABASE ENGINEERING
# Create engine and connection string to create database 'hawaii.sqlite'
#engine = create_engine("sqlite:///hawaii.sqlite")

In [66]:
# Create Measurements class
class Measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(Integer)
    prcp = Column(Integer)
    tobs = Column(Integer)
    extend_existing=True

In [67]:
# Create Stations class
class Stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Integer)
    longitude = Column(Integer)
    elevation = Column(Integer)
    extend_existing=True

In [68]:
# Create engine and connection string to create database 'hawaii.sqlite'
engine = create_engine("sqlite:///hawaii.sqlite")

In [69]:
# Create tables in db using 'create_all'
Base.metadata.create_all(engine)

session = Session(bind=engine)